/* --- The about page ---*/
.about {
  max-width: 100vw;
  overflow: hidden;
  color: #003260;
}

/* The title container */
.titleContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding: 0 10%;
}

/* The main title */
.titleContainer > h1 {
  text-align: center;
  font-size: 3.5rem;
}

/* The sub title or the title description */
.titleContainer > p {
  text-align: center;
  font-family: var(--font-sec);
  font-size: 1.4rem;
  margin-top: 0;
}

/* Container for the faq component */
.faqContainer {
  margin: 5% 0;
  padding: 0 10%;
}

/* --- The team section ---*/
.team {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

/* Team section title */
.team > h1 {
  font-size: 3.2rem;
}

/* The members container */
.membersContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

/* Member objects */
.member {
  width: 300px;
  height: 400px;
  background: var(--color-org);
  margin-top: 5%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
}

/* Image inside the member component */
.member > img {
  width: 50%;
  object-fit: cover;
}

/* Name of the member */
.member > h5 {
  font-size: 2.5rem;
  margin: 0;
}

/* Position of the member */
.member > h6 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

/* The social link of the member */
.member > a {
  text-decoration: none;
  background: #003260;
  font-family: var(--font-sec);
  font-weight: bold;
  color: #fff;
  padding: 2% 5%;
  border-radius: 5px;
  border: 1px solid #003260;
  transition: 0.3s;
}
.member > a:hover {
  background: var(--color-org);
  color: #003260;
}

/* --- The contact section containing the contact form and adress */
.contact {
  display: flex;
  width: 100%;
  margin: 10% 0;
}

/* The contact form in the contact section */
.contactForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

/* Title of the form */
.contactForm > h2 {
  font-size: 3rem;
}

/* Labels in the form */
.contactForm > label {
  font-size: 1.2rem;
}

/* Input fields in the form */
.contactForm > input,
.contactForm > textarea {
  border: 2px solid #003260;
  font-size: 2rem;
  padding: 2%;
  color: #003260;
  border-radius: 10px;
  margin: 2% 0;
}

/* The message input areaa */
.messageInput {
  column-span: 5;
}

/* Submit button */
.contactForm > input[type='submit'] {
  width: 50%;
  color: #fff;
  background: #003260;
  cursor: pointer;
  transition: 0.3s;
}
.contactForm > input[type='submit']:hover {
  background: #fff;
  color: #003260;
}

/* Address part of the contact section */
.address {
  width: 50%;
}

/* Title of the address section */
.address > h4 {
  font-size: 2.5rem;
}

/* The address part */
.address > p {
  font-family: var(--font-sec);
  font-size: 1.2rem;
}

/* The visiing time part */
.time {
  margin: 10% 0;
  font-family: var(--font-sec);
  font-size: 1.2rem;
}

/* The location map */
.address > iframe {
  border: 0;
  width: 80%;
}

/* --- Styling for smaller screens- generic */
@media screen and (max-width: 780px) {
  .titleContainer {
    padding: 0 5%;
  }

  .titleContainer > h1 {
    font-size: 2.5rem;
  }

  .titleContainer > p {
    font-size: 1.2rem;
  }

  .team {
    align-items: center;
  }

  .contact {
    flex-direction: column;
  }

  .contactForm {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .contactForm > input {
    width: 80%;
  }

  .contactForm > textarea {
    width: 80%;
  }

  .address {
    width: 100%;
    margin: 5%;
    width: 90%;
  }

  .address > iframe {
    width: 100%;
  }
}
