/* --- The blogs page --- */

/* The page container */
.blog {
  max-width: 100vw;
  overflow: hidden;
  z-index: 2;
}
.blog {
  color: #003260;
}

/* The title section including the search bar */
.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The title */
.titleContainer > h1 {
  margin: 0 5%;
  font-size: 2.5rem;
}

/* The searchbar */
.searchbar {
  width: 60%;
  border-bottom: 2px solid #003260;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

/* Text input of the searchbar */
.searchbar > input[type='text'] {
  border: none;
  outline: none;
}

/* The placeholder for the text input */

.searchbar > input[type='text']::placeholder {
  color: #003260;
  font-weight: bold;
  letter-spacing: 0.025rem;
  z-index: -1;
}
.searchbar > input[type='text']::-webkit-input-placeholder {
  color: #003260;
  font-weight: bold;
  letter-spacing: 0.025rem;
}

/* The submit button */
.searchbar > input[type='submit'] {
  background: #003260;
  border: 1px solid #003260;
  border-radius: 5px;
  color: #fff;
  padding: 1%;
}

/* The posts list container */
.postsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5%;
}

/* Each post  */
.post {
  margin: 40px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

/* Title image of each post */
.post > img {
  width: 90%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

/* Title of  the post */
.textContent > h3 {
  font-size: 1.8rem;
}

/* Description of the post */
.postdesc {
  font-family: var(--font-sec);
  margin: 10% 0;
}

/* Link to the post */
.posturl {
  background: #003260;
  color: #fff;
  text-decoration: none;
  font-size: 0.75rem;
  font-family: var(--font-sec);
  padding: 5%;
  margin: 10% 0;
  border-radius: 10px;
}

@media screen and (max-width: 780px) {
  .titleContainer {
    flex-direction: column;
  }

  .searchbar {
    margin-top: 10%;
  }

  .searchbar > input[type='submit'] {
    font-size: 0.75rem;
    padding: 5%;
  }

  .post {
    padding: 8%;
  }
}
