body {
  margin: 0;
  min-width: 320px;
  /* overflow: hidden; */
}

img {
  width: 0;
  height: auto;
}

:root {
  --font-sec: 'Lucida Sans', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --color-bl: #003260;
  --color-org: #ff775e;
}
