/* General stylings */

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  max-width: 100vw;
}

.heroContainer {
  background: #003260;
  padding: 0;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContent {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.heroContainer > p {
  /* text that stays on the top of the hero content */

  position: absolute;
  top: 12vh;
  color: #ff775e;
  font-size: 2vw;
  text-align: center;
}

.wavesbg {
  /* The waves image background */
  width: 50vw;
  position: absolute;
  top: 35vh;
  bottom: 40vh;
  /* margin: 20vw ; */
}

.sliderImg {
  /* The title image slider */
  position: absolute;
  top: 30vh;
  bottom: 40vh;
  left: 40vw;
  width: 15vw;
}

.titleDescGrp {
  /* The group of description text in the hero section */
  position: absolute;
  top: 65vh;
  text-align: center;
  width: 100%;
}

.titleDescGrp > h4 {
  color: #fff;
  letter-spacing: 0.4vw;
}

.titleDescGrp > h1 {
  color: #ff775e;
  font-size: 4vw;
  margin-top: 0;
  margin-bottom: 0;
}
.titleDescGrp > button {
  /* The demo and regster buttons in the hero section */
  margin: 2em 2vw;
  padding: 1vh 2.2vw;
  border: solid 1px #ff775e;
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Lucida Sans Typewriter';
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.regbtn {
  background: transparent;
  color: #ff775e;
}

.regbtn:hover {
  background: #ff775e;
  color: #003260;
}

.bookbtn {
  background: #ff775e;
  color: #003260;
}

.bookbtn:hover {
  background: transparent;
  color: #ff775e;
}

.employee {
  display: grid;
  width: 100%;
  padding: 4% 5%;
  grid-template-columns: 50% auto;
  grid-template-rows: 30% auto 30%;
  grid-template-areas:
    'im title'
    'im desc'
    'im cbtn';

  align-items: center;
  justify-items: start;
}

.empimg {
  /* margin: 0 2%; */
  width: 90%;
  grid-area: im;
}

.empdesc {
  /* padding: 5% 5%; */
  color: #003260;
  grid-area: desc;
  font-family: Calibri, sans-serif;
  font-size: 1.5em;
}

.emptitle {
  font-size: 2.5em;
  grid-area: title;
  color: #003260;
}

.bookcallbtn {
  grid-area: cbtn;
  background: #003260;
  color: #fff;
  border: none;
  outline: none;
  padding: 2% 5%;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #003260;
}

.bookcallbtn:hover {
  color: #003260;
  background: #fff;
}

.clients {
  display: grid;
  width: 100%;
  margin: 5% 2%;

  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas:
    'title'
    'im';
  overflow: hidden;
  grid-auto-flow: row;
}

.climgContainer::-webkit-scrollbar {
  display: none;
}

.cltitle {
  grid-area: title;
  text-align: center;
  color: #003260;

  font-size: 2em;
}

.climgContainer {
  grid-area: im;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.climgContainer > * {
  margin: 0 2%;
}

.climg {
  width: 20%;
  height: 75%;
  display: inline;
  object-fit: cover;
  border-radius: 20px;
}

.platform {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(3, 0.5fr) 1.5fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.25fr 0.5fr;
  grid-template-areas:
    'e1 e1 e1 e1 im1 im1 e2'
    'tl tl tl e3 im1 im1 im2'
    'ds ds ds ds im1 im1 im2'
    'ic1 ic2 ic3 ic4 ic4 e4 im2'
    'ca1 ca2 ca3 ca4 ca4 e4 e5'
    'bt bt bt bt bt bt bt';
  align-items: center;
  justify-items: center;
}

.platitle {
  grid-area: tl;
  color: #003260;
  /* margin-left: 2em; */
  font-size: 3.5em;
  margin: 0 0.5em;
}

.pladesc {
  grid-area: ds;
  color: #003260;
  font-size: 1.5em;
  margin: 0 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.platitleimg {
  height: 60%;
  width: auto;
  max-width: 100%;
  margin: 20% 5%;
  object-fit: cover;
}

.platitleimga {
  grid-area: im1;
}

.platitleimgb {
  grid-area: im2;
}

.plaimgset1 {
  grid-area: ic1;
}
.plaimgset2 {
  grid-area: ic2;
}
.plaimgset3 {
  grid-area: ic3;
}
.plaimgset4 {
  grid-area: ic4;
}

.plaimg {
  width: 40%;
  margin: 1% 2%;
  cursor: pointer;
  /* position: absolute; */
}

.plabgsphere {
  width: 70%;
}

.plaimgcaption {
  color: #003260;
  font-size: 1.5em;
  margin: 0 20%;
  text-align: center;
}

.plaimgcaption1 {
  grid-area: ca1;
}

.plaimgcaption2 {
  grid-area: ca2;
}

.plaimgcaption3 {
  grid-area: ca3;
}

.plaimgcaption4 {
  grid-area: ca4;
}

.plabtns {
  grid-area: bt;
  justify-items: start;
  width: 100%;
  overflow: hidden;
}

.plabtns > button {
  margin-left: 4%;
  padding: 1% 3%;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
}

.plaseedemo {
  background: #003260;
  color: #fff;
  border: #003260 1px solid;
}

.plaseedemo:hover {
  background: #fff;
  color: #003260;
}

.plareg {
  background: #fff;
  color: #003260;
  border: #003260 1px solid;
}

.plareg:hover {
  background: #003260;
  color: #fff;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: #003260;
  flex-wrap: wrap;
}

.ftsubtl {
  font-size: 1.5em;
}

.fttl {
  font-size: 4em;
  margin: 0 20%;
  text-align: center;
}

.ftdesc {
  margin: 2% 10%;
  font-size: 1.3em;
  font-family: 'Lucida Sans ', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fticons {
  display: grid;
  grid-template-areas:
    'im1 im2 im3 im4 im5'
    'ca1 ca2 ca3 ca4 ca5';
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 0.5fr;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.ftimg {
  width: 30%;
}

.ftimgbgsphere {
  width: 60%;
}

.ftimgset1 {
  grid-area: im1;
}

.ftimgset2 {
  grid-area: im2;
}

.ftimgset3 {
  grid-area: im3;
}

.ftimgset4 {
  grid-area: im4;
}

.ftimgset5 {
  grid-area: im5;
}

.ftimgcaption {
  font-size: 1.2em;
  margin: 0 20%;
  text-align: center;
}

.ftimgcap1 {
  grid-area: ca1;
}

.ftimgcap2 {
  grid-area: ca2;
}

.ftimgcap3 {
  grid-area: ca3;
}

.ftimgcap4 {
  grid-area: ca4;
}

.ftimgcap5 {
  grid-area: ca5;
}

.ftcontacttitle {
  font-size: 1.8em;
  margin: 4% auto;
  font-weight: normal;
}

.ftbookcallbtn {
  background: #003260;
  color: #fff;
  border: #003260 1px solid;
  outline: none;
  font-size: 1.2em;
  padding: 1% 4%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.ftbookcallbtn:hover {
  background: #fff;
  color: #003260;
}

.testimonials {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  background: #003260;
  position: relative;
}

.testimonial {
  color: #fff;
  display: grid;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    'qs e1'
    'tl e2'
    'ts vid'
    'bio vid'
    'role vid'
    'e3 te';
  align-items: center;
}

.disabledTestimonial {
  display: none;
}

.tesquotestart {
  color: #fff;
  font-size: 10em;
  margin: 0;
  /* position: absolute; */
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0 10%;
  grid-area: qs;
}

.tesname {
  grid-area: tl;
  padding-left: 10%;
  /* padding-top: 10%; */
  font-size: 2.5em;
  margin: 5% 0;
}

.tescontent {
  grid-area: ts;
  padding: 0 10%;
  margin: 0 0;
  font-weight: normal;
  font-size: 2em;
}

.tesbioname {
  grid-area: bio;
  font-size: 1.5em;
  position: relative;
  top: 0;
  padding-left: 10%;
  margin-bottom: 1%;
}
.tesbiorole {
  grid-area: role;
  position: relative;
  top: 0;
  font-size: 1.5em;
  padding-left: 10%;
  margin: 0;
}
.tesvideo {
  grid-area: vid;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.tesquoteend {
  grid-area: te;
  color: #fff;
  font-size: 10em;
  margin: 0;
  /* position: relative; */
  margin-top: 0;
  right: 0;
  padding-left: 40%;
}

.tesvideo > video {
  width: 90%;
  height: auto;
}

@media screen and (min-width: 780px) {
  .clients {
    margin-bottom: 0;
  }
}

/* media query for small screens */
@media screen and (max-width: 780px) {
  .titleDescGrp > button {
    border-radius: 20px;
    padding: 1vh 5vw;
    display: block;
    position: relative;
    width: 50%;
    left: 25%;
  }
  .bookbtn {
    color: #003260;
  }

  .heroContainer > p {
    font-size: 5vw;
    letter-spacing: 2vw;
  }
  .heroContainer {
    overflow: hidden;
  }
  .wavesbg {
    width: 150vw;
  }

  .sliderImg {
    width: 30vw;
    left: 35vw;
    top: 35vh;
  }

  .titleDescGrp {
    top: 55vh;
  }

  .titleDescGrp > h1 {
    font-size: 8vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .employee {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'title'
      'im'
      'desc'
      'cbtn';
    max-width: 100vh;
    padding: 0;
  }

  .employee > * {
    margin: 5% 10%;
  }

  .empdesc {
    margin-top: 1%;
    font-size: 1em;
    line-height: 1.5em;
  }

  .empimg {
    width: 75%;
  }
  .emptitle {
    font-size: 1.5em;
  }

  .bookcallbtn {
    padding: 4% 8%;
    border-radius: 30px;
    font-size: 1em;
  }

  .cltitle {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.2em;
  }

  .climgContainer > * {
    margin: 1% 2%;
  }

  .climg {
    width: 40%;
    height: 100%;
  }

  .platform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(3, 1fr) 0.5fr 1fr 0.5fr 1fr 0.5fr 1.5fr;
    grid-template-areas:
      'tl tl'
      'im1 e1'
      'im1 im2'
      'e2 im2'
      'ds ds'
      'ic1 ic2'
      'ca1 ca2'
      'ic3 ic4'
      'ca3 ca4'
      'bt bt';
    align-items: center;
    justify-items: center;
  }
  .platitle {
    margin: 2% 5%;
    font-size: 2.3em;
  }

  .plabtns {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .plabtns > button {
    padding: 5% 15%;
    margin: 4% 0;
    font-size: 1.3em;
    border-radius: 30px;
  }

  .features {
    margin: 2% 0%;
    max-width: 100vh;
    overflow: hidden;
  }
  .ftsubtl {
    font-size: 1.5em;
    margin: 10% 10%;
    text-align: center;
    letter-spacing: 0.3em;
  }
  .fttl {
    font-size: 2.3em;
    margin: 2% 2%;
  }
  .ftdesc {
    margin: 5% 5%;
    font-size: 1.2em;
  }
  .fticons {
    grid-template-areas:
      'im1 im1 im2 im2 im3 im3'
      'ca1 ca1 ca2 ca2 ca3 ca3'
      'e1 im4 im4 im5 im5 e2'
      'e1 ca4 ca4 ca5 ca5 e2';
    grid-template-columns: repeat(6, 0.5fr);
    grid-template-rows: 1fr 0.25fr 1fr 0.25fr;
    margin: 2% 2%;
  }
  .fticons > * {
    padding: 5%;
  }
  .ftimgcaption {
    font-size: 0.75em;
  }

  .ftcontacttitle {
    text-align: center;
    margin: 10% 5%;
  }

  .ftbookcallbtn {
    padding: 5% 10%;
    border-radius: 30px;
  }
  .testimonial {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      'qs'
      'tl'
      'vid'
      'ts'
      'bio'
      'role'
      'te';
  }

  .tesname {
    font-size: 1.5em;
  }

  .tesbioname,
  .tesbiorole {
    font-size: 1em;
  }

  .tescontent {
    font-size: 1em;
  }

  .tesvideo > video {
    width: 80%;
    margin: 5% 10%;
  }

  .tesquoteend {
    padding-left: 70%;
  }
}
