/* ---- Product description page */
.product {
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #003260;
}

/* The main title */
.title {
  font-size: 3.5rem;
  padding: 0 5%;
}

/* The sub title or the title description */
.titleDesc {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 10%;
  font-family: var(--font-sec);
}

/* Main image */
.mainImage {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

/* Features section */
.features {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Features section title */
.features > h2 {
  font-size: 2rem;
  padding: 0 10%;
}

/* List of features */
.featureList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

/* Seperate items in the features section */
.featureList > li {
  display: flex;
  align-items: center;
  padding: 0 10%;
  width: 30%;
}

/* The bullet icon for each item */
.featureList > li > img {
  width: 20px;
  height: 20px;
}

/* Features text */
.featureList > li > p {
  font-weight: bold;
  font-family: var(--font-sec);
  margin-left: 5%;
}

/* Main content of the page, the body of the page */
.content {
  font-family: var(--font-sec);
  padding: 0 10%;
  font-size: 1.2rem;
}

/* UseCases section */
.useCases {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5%;
}

/* "UseCases" title */
.useCases > h3 {
  padding: 0 10%;
  font-size: 2rem;
}

/* The list of useCase */
.useCasesList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10%;
}

/* Seperate useCase objects */
.useCase {
  display: flex;
  flex-direction: column;
  border: 2px solid #003260;
  border-radius: 10px;
  width: 20%;
  margin: 2% 2%;
  padding: 2% 2%;
  padding-bottom: 0;
}

/* Text inside the usecase */
.useCase > span {
  font-size: 2rem;
  font-weight: bold;
}

/* Link inside useCase */
.useCase > a {
  color: #003260;
  text-decoration: none;
  text-align: right;
  margin: 5% 0;
  margin-top: 10%;
  font-family: var(--font-sec);
  font-size: 0.75rem;
  font-weight: bold;
}

/* Styling for smaller screens - generic */
@media screen and (max-width: 780px) {
  .title {
    text-align: center;
    font-size: 2.5rem;
  }

  .titleDesc {
    font-size: 1rem;
  }

  .features > h2 {
    text-align: center;
  }

  .featureList {
    flex-direction: column;
  }

  .featureList > li {
    width: 100%;
  }

  .content {
    font-size: 1rem;
  }

  .useCases {
    margin-bottom: 10%;
  }

  .useCases > h3 {
    text-align: center;
  }

  .useCasesList {
    flex-direction: column;
    padding: 0;
  }

  .useCase {
    width: 80%;
    margin: 2% 5%;
    padding: 5%;
  }

  .useCase > a {
    text-align: left;
    font-size: 1rem;
  }
}
