/* General Styling */

/* The wrapper for the whole page */
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  max-width: 100vw;
  overflow: hidden;
  color: #003260;
}

/* --- Hero section --- */

/* The container for hero of the page */
.titleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 100%;
}

/* The title in the hero */
.title {
  color: #003260;
  font-size: 4em;
  text-align: center;
  margin: 5% 15%;
  margin-bottom: 0;
}

/* The description of the main title */
.titledesc {
  color: #003260;
  font-size: 1.5em;
  text-align: center;
  font-family: var(--font-sec);
  margin: 2% 8%;
}

/* The button or link that says explorer solutions */
.explorebtn {
  margin: 2% 0;
  border: #003260 1px solid;
  outline: none;
  background: #003260;
  color: #fff;
  padding: 2% 2%;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover effect for the explore button */
.explorebtn:hover {
  color: #003260;
  background: #fff;
}

/* --- 'sub-title' --- */

/* The images after the title, the container */

.sbtlimgcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

/* The sub-title images */
.sbtlimg {
  width: 20%;
  padding: 0 2%;
}

/* --- Features Section --- */

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #003260;
}

/* Title for the features section */
.fttitle {
  font-size: 4em;
}

/* Features Icons Container */
.fticonscontainer {
  display: flex;
  width: 100%;
  margin-bottom: 2%;
  justify-content: space-evenly;
}

/* The feature icon divs */
.fticon {
  display: flex;
}

/* Features icons img elememts */
.fticon img {
  width: 60%;
}

/* Text in the features icon */
.fticontext {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fticon * {
  margin: 0 0 5% 10%;
  font-size: 1.5em;
  font-weight: bold;
}

.fticontext a {
  text-decoration: none;
  margin: 10% 0 0 0;
  font-size: 0.5em;
  color: #003260;
  font-family: var(--font-sec);
}

/* Features description */
.ftdesc {
  margin: 2% 8%;
  margin-top: 0;

  font-size: 1.2em;
  font-family: var(--font-sec);
}

/* Bottom main title in features section */
.features > h3 {
  font-size: 2.2em;
  margin: 0;
  margin-top: 5%;
}

.features > h4 {
  font-size: 1.8em;
  margin-top: 1%;
}

/* Book a call button in the features section */

.ftbookcallbtn {
  background: #003260;
  color: #fff;
  border: #003260 1px solid;
  font-size: 1.2em;
  padding: 2% 4%;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.ftbookcallbtn:hover {
  background: #fff;
  color: #003260;
}

/* --- The workflow section --- */
.workflow {
  margin-top: 10%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  /* color: #003260; */
}

/* The title of the workflow section */
.workflow h3 {
  font-size: 2.5rem;
}

/* Sliding image container */
.workflowSlider {
  width: auto;

  display: flex;
  flex-direction: row;
  animation: 30s slide infinite;
}

/* Images inside the slider */
.workflowSlider > img {
  width: 50%;
  margin: 0 2%;
}

.workflowSlider:hover {
  animation-play-state: paused;
}

/* The sliding animation */
@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* --- Products Section ---*/
.products {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* Individual products */
.product {
  width: 90%;
  display: flex;
  margin: 10% 0;
  border-radius: 20px;
  height: 80vh;
  min-height: 410px;
}

/* Images in the product */
.product > img {
  width: auto;
  max-width: 40%;
  height: 100%;
  margin: 5%;
  object-fit: cover;
}

/* Products in even positions */
.producta {
  background: #003260;
  color: #fff;
}

/* Images in producta */
.producta > img {
  transform: translateY(10%);
}

/* Products in odd positions */
.productb {
  background: #ddd;
}

/* Images in productb */
.productb > img {
  transform: translateY(-30%);
}

/* Text content of each product block */
.procontent {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 0 2%;
}

/* title of the product blocks*/
.protitle {
  font-size: 3em;
}

/* The description in each product block */
.prodesc {
  font-family: var(--font-sec);
  font-size: 1.1em;
}

/* link to seperate product pages */
.prolink {
  text-decoration: none;
  display: block;
  margin-top: 1.5em;
  font-size: 0.9em;
}

/* Link for product a */
.producta a {
  color: #fff;
}

/* Link for product b */
.productb a {
  color: #003260;
}

/* Usecase titie */
.useCaseTitle {
  margin: 0;
  font-size: 2rem;
}

/* Usecase List */
.useCaseList {
  display: flex;
  justify-content: space-between;
  height: 20%;
  list-style-type: none;
  padding: 0;
}

/* Usecase items */
.useCase {
  display: flex;
  width: 30%;
  align-items: center;
}

/* Images in useCase items */
.useCaseimg {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* useCase title  */
.useCaseName {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  margin-left: 10%;
  font-weight: bold;
}

/* Link to usecase */
.useCaseLink {
  text-decoration: none;
  display: block;

  font-size: 0.75rem;
  font-weight: normal;
  margin-top: 1em;
  font-family: var(--font-sec);
}

/* --- Faq Section ---*/
.faq {
  padding: 0 10%;
}

/* Title of the faq section */
.faq > h1 {
  font-size: 4rem;
  margin: 0;
}

/* sub title of the faq section */
.faq > h2 {
  font-size: 2rem;
  margin: 0;
}

/* The ending section of the product page */
.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
  background: #003260;
  width: 100%;
  padding: 2% 0;
}

/* Children of the end element */
.end * {
  color: #fff;
}

/* The title of the end section */
.endtitle {
  font-size: 2.5rem;
  margin-bottom: 0;
  text-align: center;
}

/* The description of the end section */
.enddesc {
  font-size: 1.2rem;
  text-align: center;
  margin: 2% 10%;
  font-weight: normal;
  line-height: 2rem;
  font-family: var(--font-sec);
}

/* The register button in the end section */
.endreg {
  background: #fff;
  color: #003260;
  text-decoration: none;
  padding: 2% 5%;
  border: 1px solid #003260;
  border-radius: 10px;
  font-weight: bold;
  font-family: var(--font-sec);
  transition: 0.3s;
}
/* Hover effect of the button  */
.endreg:hover {
  background: #003260;
  color: #fff;
  border: 1px solid #fff;
}

/* ------------------------------------------------------ */
/* Styling for smaller screens - generic */
@media screen and (max-width: 780px) {
  .titleContent {
    height: auto;
  }

  .title {
    font-size: 2em;
    margin: 5% 8%;
  }

  .titledesc {
    font-size: 1.2em;
    margin: 5%;
  }

  .explorebtn {
    font-size: 1em;
    padding: 4% 5%;
    margin: 5%;
  }

  .sbtlimgcontainer {
    flex-direction: column;
    align-items: center;
  }

  .sbtlimg {
    width: 60%;
    margin: 2% 0;
  }

  .fttitle {
    font-size: 2em;
    margin: 10% 0;
  }

  .fticonscontainer {
    flex-direction: column;
  }

  .fticon {
    flex-direction: column;
    align-items: center;
  }

  .fticon * {
    margin: 0;
  }

  .fticon img {
    width: 30%;
  }

  .fticontext {
    align-items: center;
    margin: 5% 0;
  }

  .fticontext a {
    margin: 3% 0;
    font-size: 0.7em;
  }

  .ftdesc {
    text-align: center;
    margin-bottom: 5%;
  }

  .features h3 {
    text-align: center;
  }
  .features h4 {
    text-align: center;
    font-size: 1.3em;
    margin: 5% 1%;
  }

  .ftbookcallbtn {
    font-size: 1em;
    padding: 4% 8%;
    margin: 5%;
  }

  .workflowSlider > img {
    width: 100%;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-300%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .faq {
    text-align: center;
    margin: 10% 0;
  }

  .faq > h1 {
    font-size: 3rem;
  }

  .faq > h2 {
    font-size: 1.75rem;
    margin-bottom: 10%;
  }

  .endtitle {
    font-size: 1.75rem;
    margin: 5% 5%;
  }

  .enddesc {
    font-size: 1rem;
    margin: 5% 5%;
  }

  .endreg {
    padding: 5% 15%;
    border-radius: 25px;
    margin: 10% 5%;
  }
}

/* Styling for smaller screens (products section) */
@media screen and (max-width: 1024px) {
  .product {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 100%;
    border-radius: 40px;
  }

  .procontent {
    order: 2;
    width: 90%;
    height: auto;
    text-align: center;
    padding-bottom: 10%;
    overflow: visible;
  }

  .product > img {
    max-width: 70%;
    border-radius: 50px;
    transform: translateY(-50%);
    margin-bottom: -50%;
    order: 1;
  }

  .protitle {
    font-size: 2em;
  }

  .prodesc {
    font-size: 1.25em;
    line-height: 1.5em;
  }

  .prolink {
    font-weight: bold;
  }
  .useCaseTitle {
    margin: 5% 0;
  }
  .useCaseList {
    flex-direction: column;
    align-items: center;
  }
  .useCase {
    margin: 5% 0;
    width: 100%;
    justify-content: center;
  }
  .useCase > p {
    text-align: left;
  }

  .useCaseName {
    font-size: 1.3rem;
  }

  .useCaseLink {
    font-size: 1rem;
  }
}
