/* General Styling */

/* The wrapper for the whole page */
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  max-width: 100vw;
  overflow: hidden;
}

/* The container for hero of the page */
.titleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 100%;
}

/* The title in the hero */
.title {
  color: #003260;
  font-size: 4em;
  text-align: center;
  margin: 5% 15%;
  margin-bottom: 0;
}

/* The description of the main title */
.titledesc {
  color: #003260;
  font-size: 1.5em;
  text-align: center;
  font-family: var(--font-sec);
  margin: 2% 8%;
}

/* The button or link that says explorer solutions */
.explorebtn {
  margin: 2% 0;
  border: #003260 1px solid;
  outline: none;
  background: #003260;
  color: #fff;
  padding: 2% 2%;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover effect for the explore button */
.explorebtn:hover {
  color: #003260;
  background: #fff;
}

/* The images after the title, the container */

.sbtlimgcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

/* The dbu-title images */
.sbtlimg {
  width: 20%;
  padding: 0 2%;
}

/* Styling for smaller screens */
@media screen and (max-width: 780px) {
  .titleContent {
    height: auto;
  }

  .title {
    font-size: 2em;
    margin: 5% 8%;
  }

  .titledesc {
    font-size: 1em;
    margin: 5%;
  }

  .explorebtn {
    font-size: 1em;
    padding: 2% 5%;
    margin: 5%;
  }
}
