/* --- The register page ---*/
.register {
  max-width: 100vw;
  overflow: hidden;
  background: #003260;
  display: flex;
  flex-direction: column;
}

/* The content after the navbar */
.content {
  display: flex;
  align-items: center;
}
.content > * {
  margin: 5% 5%;
}

/* Title container */
.titleContainer {
  color: var(--color-org);
  width: 40%;
}

/* Main title */
.titleContainer > h4 {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}

/* sub title */
.titleContainer > p {
  font-size: 4.8rem;
  font-weight: bold;
  margin: 0;
}

/* Form container */
.formContent {
  width: 40%;
}

/* registration form */
.regForm {
  background: var(--color-org);
  display: flex;
  flex-wrap: wrap;
  padding: 10% 8%;
  color: #003260;
  font-family: var(--font-sec);
  border-radius: 30px;
  margin-bottom: 5%;
}

.regForm > * {
  margin: 2% 0;
}

/* Container for input groups */
.inputbox {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 5%;
}

/* Error messsages */
.inputbox > p {
  color: #c00;
  max-width: 100%;
}

/* Input elements */
.inputbox > input {
  border: #003260 2px solid;
  width: auto;
  height: 1.8rem;
  background: var(--color-org);
  padding: 2% 2%;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  font-size: 1.3rem;
  color: #003260;
}
.inputbox > input:focus {
  border: #0a71d1 2px solid;
}

/* Label for inputs */
.inputbox > label {
  font-weight: bold;
}

/* Checkbox */
.terms > input {
  padding: 5%;
  background: red;
}

/* Terms and conditons */
.terms > label {
  font-weight: bold;
}

/* Container for register and login */
.buttonContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

/* Register button */
.regBtn {
  border: #003260 2px solid;
  background: #003260;
  color: var(--color-org);
  font-size: 1.2rem;
  padding: 2% 5%;
  margin-right: 2%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.regBtn:hover {
  background: var(--color-org);
  color: #003260;
}

/* demo link */
.demo {
  text-decoration: none;
  color: #003260;
  font-weight: bold;
}

/* login link */
.login {
  color: var(--color-org);
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-sec);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

/* Copyright at the bottom */
.copyright {
  color: var(--color-org);
  font-size: 1.5rem;
  padding: 0 5%;
}

@media screen and (max-width: 780px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .titleContainer {
    width: 100%;
  }

  .titleContainer > h4 {
    text-align: center;
  }

  .titleContainer > p {
    text-align: center;
    font-size: 2.5rem;
    margin: 0 5%;
  }

  .formContent {
    width: 80%;
  }

  .regForm {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .loginForm {
    margin-bottom: 10%;
  }

  .inputbox {
    width: 100%;
  }

  .inputbox > input {
    width: auto;
    height: 2rem;
    border: 3px solid #003260;
    margin-bottom: 2%;
  }
  .inputbox > label {
    margin-bottom: 2%;
  }

  .regForm > * {
    margin: 5% 0;
  }

  .buttonContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .buttonContainer > * {
    margin: 5% 0;
  }

  .copyright {
    font-size: 1rem;
    text-align: center;
  }
}
