/* The slider component */
.slider {
  width: 100%;
  display: flex;
  padding: 0 5%;
  color: #003260;
}

/* Image inside the slider */
.slider > img {
  width: 60%;
}

/* Div containing the captions and the buttons */
.textNControl {
  padding: 0 2%;
  max-width: 30%;
}

/* Captions div */
.captions {
  width: 75%;
}

/* Main title of the image */
.captions > h5 {
  margin: 0;
  font-size: 1.5rem;
  transition: 0.3s;
}

/* The description of the image */
.captions > p {
  font-family: var(--font-sec);
  font-size: 1rem;
  margin: 10% 0;
}

/* Div controls the control buttons and the postion dots */
.sliderControl {
  display: flex;
  flex-direction: column;
}

/* Control buttond container */
.controls {
  display: flex;
  align-items: center;
  height: 2rem;
}

/* The control buttons */
.controls > .button {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50%;
  background: #003260;
  font-weight: bold;
  color: white;
  margin-right: 2%;
  text-align: center;
  cursor: pointer;
  transition: 0.1s;
  border: 1px solid #003260;
}
.button:active {
  color: #003260;
  background: #fff;
}

/* Container for the postion dots */
.dotContainer {
  display: flex;
  margin-top: 5%;
}

/* Seperate posiion indicator dots */
.dot {
  height: 1.2rem;
  line-height: 1.2rem;
  width: 1.2rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50%;
  background: #003260;
  font-weight: bold;
  color: white;
  margin-right: 3%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #003260;
}

/* The current selected dot */
.dotActive {
  background: #fff;
}

@media screen and (max-width: 780px) {
  .slider {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .slider > img {
    width: 100%;
    margin: 5% 0;
    height: 30vh;
    object-fit: cover;
  }

  .textNControl {
    max-width: 100%;
    padding: 0 5%;
  }

  .captions {
    height: 20vh;
  }

  .sliderControl {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 5%;
  }

  .controls {
    width: 30%;
  }

  .dotContainer {
    width: 70%;
    height: 1.2rem;
    margin-top: 0;
    justify-content: center;
  }
}
